.dock
{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(128, 128, 128, 0.09);
    padding-inline:1rem;
    padding-block: 0.75rem ;
    border-radius: 0.75rem;
    backdrop-filter: blur;
    gap: 0.75rem;
    .icon
    {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        aspect-ratio: 1/1;
        color: white;
        transition: all 0.5s cubic-bezier(0.19, 0.885, 0.32, 1.275);
        i
        {
            background-color: transparent;
            font-size: larger;
        }

    }
    .github
    {
        background-color: black;

    }
    .note
    {
        background:linear-gradient(to bottom,rgb(255, 234, 167),rgb(184, 146, 21))
    }
    .pdf
    {
         background:linear-gradient(to bottom,rgb(254, 181, 255),rgb(184, 21, 127))
    }
    .calendar
    {
         background:linear-gradient(to bottom,rgb(181, 188, 255),rgb(21, 64, 184))

    }
    .spotify
    {
         background:linear-gradient(to bottom,rgb(64, 236, 29),rgb(21, 184, 32))
        
    }

    .mail
    {
         background:linear-gradient(to bottom,rgb(255, 181, 181),rgb(184, 21, 21))

    }
    .link
    {
         background:linear-gradient(to bottom,rgb(181, 243, 255),rgb(21, 184, 168))

    }
    .cli
    {
        background-color: black;
        
    }

    .icon:hover
    {
        transform: scale(1.25) translateY(-20%);

    }

    .icon:hover+.icon,//iska matlab woh ite select jiska next item ka classs .icon ho 
    .icon:has(+.icon:hover)//ika matlab woh item select karo jiska next item pa hover lag o

    {
        transform: scale(1.1) translateY(-20%);
        
    }


}