

nav
{
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, 0.123);
    color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;

        .left 
        {   
            display: flex;
            
            gap: 1rem;

            align-items: center;

                .apple-icon
                {
                    color: white;
                }
        }

        .right 
        {
            display: flex;
            gap: 0.75rem;
            .wifi
            {
            color: white;

            }
        }


}