.window
{
   
    background-color: black;
    border-radius: 1.2rem;
    border: 2px solid white;
    height: 100%;

    .nav
    {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        border-bottom: 1px solid whitesmoke;
       
        .dot
        {
            height: 1.4rem;
            width: 1.4rem;
            border-radius: 50%;
            background-color: red;
        }
        .dots 
        {
            display: flex;
            gap: 0.25rem;
            padding-inline: 0.4rem;
            padding-block: 0.7rem;
        }
        .red
        {
            background-color: #f43c27;
        }
        .yellow
        {
            background-color: #FDBB10;
        }
        .green
        {
            background-color: #00CD4E;
        }
        .title 
        {
            p
            {
                color: rgba(255, 255, 255, 0.89);
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 400;

            }
        }
    }

    .main-content
    {
        color: whitesmoke;
        overflow: auto;
        height: 89%;
        padding-block: 1rem;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        display: flex;
    }
    
     *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Scrollbar thumb */
*::-webkit-scrollbar-thumb {
    background-color: rgb(181, 182, 182);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    
}

    
}